/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* Phone display */
@media (max-width: 600px) {
    .logo-img-desk, #header > h1 {
        display: none;
    }
    .logo-img-mob {
        width: 130px;
        height: 100px;
        justify-content: flex-start;
    }
    #mobile-menu {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto auto;  
    }
    .mobile_button:nth-child(1) {
        grid-column: 1; 
        grid-row: 1;   
    }
    .mobile_button:nth-child(3) {
        grid-column: 1 / 3;
        grid-row: 2;    
        width: 100%;
    }
}

/* Desktop display */
@media (min-width: 601px) {
    .logo-img-mob, .mobile_button {
        display: none;
    }
    .logo-img-desk {
        width: 160px;
        height: 180px;
    }
}

/* General aspects */
#header {
    background-color: #13142a;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px; 
}

#header h1 {
    color: aliceblue;
    font-family: 'Gowun Batang', sans-serif;
    text-align: center; 
    flex: 1; 
}

#user-cont {
    border: 4px solid #aaa6ca;
    border-radius: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    cursor: pointer;
}

#user-cont > .fa-user {
    color: #aaa6ca;
    font-size: 50px; 
}

#user-cont:hover {
    background-color: #007EA7;  
}

#mobile-menu > .mobile_button {
    background-color: #13142a;
    color: #aaa6ca;
    padding: 15px;
    cursor: pointer;
}

#mobile-menu > .mobile_button:hover {
    background-color: #aaa6ca;
    color: #13142a;
    transition: 1.5s; 
}
