/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
/*Header style*/
#header {
    background-color: #007EA7;
}
/*Phone display*/
@media (max-width: 400px)  {
    .logo-img-desk{
        display: none;
    }
}

#mobile-menu > .mobile_button {
    background-color:#13142a;
    color: #aaa6ca;
    padding: 15px;
    cursor: pointer;
}
#mobile-menu > .mobile_button:hover{
    background-color:#aaa6ca;
    color: #13142a;
    transition: 1,5s;
}