* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile version */
@media only screen and (max-width: 768px) {
  header > .nav-primary {
    display: none;
  }
  .logo-square {
    display: none;
  }
  .nav-logo {
    justify-content: flex-start;
  }
  .nav-logo > img {
    width: 125px;
  }
  .nav-icons {
    justify-content: flex-end;
  }
  .nav-icons i {
    margin: 10px;
  }
  .nav-icons span {
    display: none;
  }
  i,
  img {
    margin: 12px;
  }
  main {
    flex-direction: column;
  }
  .products-container {
    order: 2;
  }
}

/* Tablet version */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header > .nav-primary {
    display: none;
  }
  .logo-landscape {
    display: none;
  }
  .logo-square {
    width: 105px;
  }
  .nav-logo {
    justify-content: flex-start;
  }
  .nav-icons {
    justify-content: flex-end;
    margin-right: 15px;
  }
  .products-container {
    order: 2;
  }
  .nav-icons i {
    margin: 10px;
  }
  main {
    flex-direction: column;
  }
  i,
  img {
    margin: 12px;
  }
}

/* Desktop version */
@media only screen and (min-width: 992px) {
  .logo-landscape {
    display: none;
  }
  .logo-square {
    height: 115px;
  }
  .fa-bars {
    display: none;
  }
  .nav-primary > .menu-item,
  .nav-icons > .menu-item {
    margin: 20px;
  }
  header {
    height: 145px;
  }
  main {
    flex-direction: row-reverse;
    justify-content: space-between;
    height: calc(100vh - 145px); 
  }
  .products-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    flex-grow: 1;
  }
  aside {
    display: flex;
    flex-basis: 13%;
  }
  aside > nav {
    justify-content: flex-end;
    
  }
  aside > nav > a {
    margin: 25px;
  }
  
}
/* General aspects */
.nav-primary,
.nav-logo,
.nav-icons {
  color: #cad178;
  display: flex;
}
main {
  display: flex;
}
aside {
  background-color: #cad178;
}
aside > nav {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
aside > nav > a {
  text-decoration: none;
  margin: 5px;
  color: black;
  margin-left: 0;
}
.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
header {
  background-color: #434960;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.item {
  background-color: #95818d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding: 25px;
  width: 205px;
  height: 205px;
}
.nav-text:hover,
.menu-item > i:hover,
.nav-primary > div:hover,
.nav-logo > .fa-bars:hover,
.nav-logo > img:hover,
a:hover,
.item:hover {
  cursor: pointer;
}
.item:hover {
  background-color: #c5abbb;
}
a:hover {
  font-weight: bold;
}
